.idea/

#I commit a first version of the project with files they didn't need to be push on the git repo...
#After that I have created a .gitignore file
#To take it in consideration wrote this commands :
#git rm -r --cached [some-directory OR FILE]
#git commit -m 'Remove the now ignored directory OR FILE'
#git push origin master