<div data-ng-controller="signinCtrl" id="signin">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
            <h1 class="text-center login-title">{{'MODULE_TITLE_SIGNIN' | translate}}</h1>
            <form class="form-horizontal" role="form" name="signinForm" novalidate>
                <div class="form-group" data-ng-class="{'has-error': signinForm.login.$invalid, 'has-success': signinForm.login.$valid}">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user" data-ng-show="signinForm.login.$valid"></i>
                            <i class="fa fa-remove" data-ng-show="signinForm.login.$invalid"></i>
                        </div>
                        <input name="login"
                               autofocus="autofocus"
                               class="form-control"
                               type="text"
                               placeholder="{{'SIGNIN_FIELD_PLACEHOLDER_LOGIN' | translate}}"
                               required
                               data-ng-maxlength="20"
                               data-ng-minlength="4"
                               data-ng-model="newUser.login"/>
                    </div>
                </div>
                <div class="form-group" data-ng-class="{'has-error': signinForm.email.$invalid, 'has-success': signinForm.email.$valid}">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-at" data-ng-show="signinForm.email.$valid"></i>
                            <i class="fa fa-remove" data-ng-show="signinForm.email.$invalid"></i>
                        </div>
                        <input name="email"
                               class="form-control"
                               type="email"
                               placeholder="{{'SIGNIN_FIELD_PLACEHOLDER_EMAIL' | translate}}"
                               required
                               data-ng-maxlength="100"
                               data-ng-model="newUser.email">
                    </div>
                </div>
                <div class="form-group" data-ng-class="{'has-error': signinForm.firstname.$invalid, 'has-success': signinForm.firstname.$valid}">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-arrow-circle-o-right" data-ng-show="signinForm.firstname.$valid"></i>
                            <i class="fa fa-remove" data-ng-show="signinForm.firstname.$invalid"></i>
                        </div>
                        <input name="firstname"
                               class="form-control"
                               type="text"
                               placeholder="{{'SIGNIN_FIELD_PLACEHOLDER_FIRSTNAME' | translate}}"
                               required
                               data-ng-maxlength="50"
                               data-ng-model="newUser.firstname">
                    </div>
                </div>
                <div class="form-group" data-ng-class="{'has-error': signinForm.lastname.$invalid, 'has-success': signinForm.lastname.$valid}">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-arrow-circle-o-right" data-ng-show="signinForm.lastname.$valid"></i>
                            <i class="fa fa-remove" data-ng-show="signinForm.lastname.$invalid"></i>
                        </div>
                        <input name="lastname"
                               class="form-control"
                               type="text"
                               placeholder="{{'SIGNIN_FIELD_PLACEHOLDER_LASTNAME' | translate}}"
                               required
                               data-ng-maxlength="50"
                               data-ng-model="newUser.lastname">
                    </div>
                </div>
                <div class="form-group" data-ng-class="{'has-error': signinForm.password.$invalid, 'has-success': signinForm.password.$valid}">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-key" data-ng-show="signinForm.password.$valid"></i>
                            <i class="fa fa-remove" data-ng-show="signinForm.password.$invalid"></i>
                        </div>
                        <input name="password"
                               class="form-control"
                               type="password"
                               placeholder="{{'SIGNIN_FIELD_PLACEHOLDER_PASSWORD' | translate}}"
                               required
                               data-ng-maxlength="30"
                               data-ng-minlength="5"
                               data-ng-model="newUser.password">
                    </div>
                </div>
                <div class="form-group" data-ng-class="{'has-error': signinForm.passwordConfirmation.$invalid, 'has-success': signinForm.passwordConfirmation.$valid}">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-key" data-ng-show="signinForm.passwordConfirmation.$valid"></i>
                            <i class="fa fa-remove" data-ng-show="signinForm.passwordConfirmation.$invalid"></i>
                        </div>
                        <input name="passwordConfirmation"
                               class="form-control"
                               type="password"
                               placeholder="{{'SIGNIN_FIELD_PLACEHOLDER_PASSWORD_CONFIRMATION' | translate}}"
                               required
                               data-ng-maxlength="30"
                               data-ng-minlength="5"
                               data-password-confirmation-validation
                               data-ng-model="passwordConfirmation">
                    </div>
                </div>


                <div class="form-group">
                    <label>
                        <i class="fa fa-male" data-ng-class="{'text-danger': signinForm.isfemale.$invalid, 'text-success': signinForm.isfemale.$valid}"></i>
                        <input type="radio" name="isfemale" id="male" value="false" required data-ng-model="newUser.isfemale">
                    </label>
                    <span class="separator"></span>
                    <label>
                        <i class="fa fa-female" data-ng-class="{'text-danger': signinForm.isfemale.$invalid, 'text-success': signinForm.isfemale.$valid}"></i>
                        <input type="radio" name="isfemale" id="female" value="true" required data-ng-model="newUser.isfemale">
                    </label>
                </div>
                <button type="submit"
                        class="btn btn-default btn-lg btn-block"
                        data-ng-click="signIn(newUser)"
                        data-ng-disabled="signinForm.$invalid">
                    {{'MODULE_TITLE_SIGNIN' | translate}}
                </button>
            </form>
        </div>
    </div>
</div>