<div data-ng-controller="eventsCtrl" id="events">
    <div class="container-fluid">
        <h1>{{ 'APP_EVENTS' | translate }}</h1>
        <hr/>
        <div class="row row-centered">
            <div class="col-md-10 col-xs-12 col-sm-12 col-centered">
                <p class="text-right">
                    <button class="btn btn-primary btn-lg" data-ng-click="openNewEventModal()">{{ 'EVENT_NEW_BUTTON' | translate }}</button>
                </p>
                <accordion close-others="oneAtATime">
                    <accordion-group ng-repeat="event in events" is-open="status.open">
                        <accordion-heading>
                            {{event.title}} <i class="pull-right fa" ng-class="{'fa-caret-square-o-down': status.open, 'fa-caret-square-o-right': !status.open}"></i>
                        </accordion-heading>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                {{event.startdate | date :"dd/MM/yyyy"}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr/>
                                {{event.description}}
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-default" ng-model="iParticipe" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                                    <i class="fa" ng-class="{'fa-check-square-o':iParticipe, 'fa-square-o':!iParticipe}"></i>
                                    {{ iParticipe ? 'EVENTS_REGISTERED' : 'EVENTS_NOT_REGISTERED' | translate }}
                                </button>
                                <button class="btn btn-info"><i class="fa fa-bar-chart"></i> {{ 'EVENTS_PARTICIPANTS_BUTTON' | translate}}</button>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="newEventModal.html">
    <div id="newEventModal">
        <div class="modal-header">
            <h3 class="modal-title">{{ 'EVENT_NEW' | translate }}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal newEventForm" role="form" name="newEventForm" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <p class="input-group">
                            <input type="text"
                                   class="form-control"
                                   data-ng-model="event.startdate"
                                   required
                                   placeholder="Date"
                                   datepicker-popup="dd/MM/yyyy"
                                   ng-model="dt"
                                   is-open="opened"
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btnCalendar" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row title">
                    <div class="col-md-12" >
                        <div class="form-group" data-ng-class="{
                            'has-error': newEventForm.title.$invalid,
                            'has-success': newEventForm.title.$valid
                        }">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-star-o" data-ng-show="newEventForm.title.$valid"></i>
                                    <i class="fa fa-remove" data-ng-show="newEventForm.title.$invalid"></i>
                                </div>
                                <input name="title"
                                       autofocus="autofocus"
                                       class="form-control"
                                       type="text"
                                       placeholder="{{'EVENT_NEW_FIELD_PLACEHOLDER_TITLE' | translate}}"
                                       required
                                       data-ng-maxlength="50"
                                       data-ng-model="event.title"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control"
                                  rows="4"
                                  name="description"
                                  placeholder="Description"
                                  data-ng-model="event.description">
                        </textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default"
                    data-ng-click="create(event)"
                    data-ladda="createEventLoading"
                    data-style="expand-right"
                    data-spinner-color="#333">
                {{ 'CREATE' | translate }}
            </button>
            <button class="btn btn-default"
                    data-ng-click="cancel()">
                {{ 'CANCEL' | translate }}
            </button>
        </div>
    </div>
</script>