
<div class="row" id="events_search">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <form class="form-inline">
            <div class="form-group" data-ng-controller="CollapseDemoCtrl">

                <input type="search" class="form-control" id="searchInput" placeholder="Enter your search">
                <button type="button" class="btn btn-default"  data-ng-click="isCollapsed = !isCollapsed" ><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>

                <div collapse="isCollapsed" >
                <h2  class="well well-lg" >Le Javascript c'est formidable</h2>
                </div>
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
        </form>


    </div>
</div>