
/* menu */
#menu{
  &.navbar {
    border-radius: 0px;
  }
  .navbar-brand{
    img{
      width: 20px;
      vertical-align: sub;
    }
  }
}
/* menu */

/* page content */
.content{
  margin: 0 20px;
}
/* page content */

/* Planning poker */
#planningPoker{
  .cardsChoose{
    margin-bottom: 10px;
  }
  .cards{
    button{
      width: 70px;
      height: 100px;
    }
  }
}
/* Planning poker */

#pageTitleAroundev {
    text-align: center;
  margin-top: 50px;
  h1{
    font-family: oxygen, Roboto, Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    img{
      width: 60px;
      vertical-align: text-bottom;
    }
  }
}

.navbar{
  min-height: 40px;
}
.navbar-inner {
  min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 40px;
  height: 40px;
  padding-top: 0;
}