/*Content which take in the all page content in each page*/
.content{
  margin: 0 20px;
  font-family: Roboto;
}
/*NgCloak (Angular JS attribute or class) to hide the templating ({{ }}) */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}