/*Content which take in the all page content in each page*/
body{
  margin: 0 0px;
  font-family: Roboto, Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*NgCloak (Angular JS attribute or class) to hide the templating ({{ }}) */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.content{
  margin: 0 20px;
}