/*Content which take in the all page content in each page*/
body{
  margin: 0 0px;
  font-family: Roboto, Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*NgCloak (Angular JS attribute or class) to hide the templating ({{ }}) */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.content{
  margin: 0 20px;
}
.pointer{
  cursor: pointer;
}

/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.animation.ng-enter {
  -webkit-transition: .3s linear all; /* Safari/Chrome */
  -moz-transition: .3s linear all; /* Firefox */
  -o-transition: .3s linear all; /* Opera */
  transition: .3s linear all; /* IE10+ and Future Browsers */
}

/**
 * Pre animation -> enter
 */
.animation.ng-enter{
  /* The animation preparation code */
  opacity: 0;
}

/**
 * Post animation -> enter
 */
.animation.ng-enter.ng-enter-active {
  /* The animation code itself */
  opacity: 1;
}