<div data-ng-controller="menuCtrl">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" data-ng-class="{ active: isActive('^/$') }" >
                    <img id="imgBrandLogo" src="/app/img/aroundev_logo_200x200.png" title="Aroundev" alt="Aroundev logo"/>
                </a>
            </div>



            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left" >
                    <li data-ng-class="{ active: isActive('/events') }">
                        <a href="/events">{{ 'APP_EVENTS' | translate }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" >
                    <!--<li><a href="#">{{ MENU_SUPPORT | translate }}</a></li>-->
                    <li class="dropdown" data-ng-controller="translateCtrl" data-ng-show="translateAllowed">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'MENU_LANGUAGE' | translate }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-ng-click="changeLanguage('fr')" class="pointer"><i class="fa fa-check" data-ng-show="fr"></i> {{ 'MENU_FR' | translate }}</a></li>
                            <li><a data-ng-click="changeLanguage('en')" class="pointer"><i class="fa fa-check" data-ng-show="en"></i> {{ 'MENU_EN' | translate }}</a> </li>
                        </ul>
                    </li>
                    <li class="dropdown" data-ng-show="logged">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i> {{ username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">{{ 'MENU_MY_ACCOUNT' | translate }}</a></li>
                            <li class="divider"></li>
                            <li><a data-ng-click="logOut()" href="#">{{ 'MENU_LOGOUT' | translate }}</a></li>
                        </ul>
                    </li>
                    <li data-ng-hide="logged" data-ng-class="{ active: isActive('/login') }">
                        <a href="/login">{{ 'MENU_LOGIN' | translate }}</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>